.header {
  width: 100vw;
  position: absolute;
  top: 0;
  z-index: 9999;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition-duration: 0.5s;

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 52px;
      height: 47px;
      cursor: pointer;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 40px;

      li {
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;

        &:hover {
          color: coral;
        }
      }
    }

    form {
      margin-left: 150px;
      position: relative;
      display: flex;

      i {
        position: absolute;
        left: 20px;
        top: 15px;
      }

      input {
        width: 200px;
        height: 44px;
        border-radius: 30px;
        border: 3px solid white;
        background-color: transparent;
        padding: 10px;
        padding-left: 50px;
        font-size: 19px;

        &::placeholder {
          color: rgb(185, 189, 194);
        }
      }

      img {
        margin: 0 5px 0 5px;
        width: 30px;
        height: 40px;
        position: relative;
        left: 40px;
      }

      select {
        border: none;
        appearance: none;
        font-size: 17px;
        width: 130px;
        text-align: center;
        background-color: transparent;
        color: white;
        cursor: pointer;
      }
    }

    .dropdown {
      display: none;
      position: relative;
      transform: scale(1.8);

      .dropdown-menu {
        position: absolute;
        top: 100%;
        right: 0;
        display: none;

        ul {
          align-items: stretch;
          flex-direction: column;
          background-color: #fff;
          padding-bottom: 5px;

          li {
            font-size: 8px;
            padding: 1em 1.5em;
            background-color: rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease-in;
            min-width: 150px;
            margin: 10px;
            &:hover {
              background-color: rgba(0, 0, 0, 0.3);
              text-indent: 0.5rem;
            }
          }
        }
      }
      #drop1:checked + .dropdown-menu {
        display: block;
      }
    }
  }
}

@media (max-width: 1920px) {
  .container {
    width: 1260px;
  }

  .header {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition-duration: 0.5s;
    position: absolute;
    top: 0;
    z-index: 9999;

    main {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 52px;
        height: 47px;
        cursor: pointer;
        margin-left: 50px;
      }

      ul {
        display: flex;
        align-items: center;
        gap: 40px;

        li {
          font-family: Inter;
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          cursor: pointer;

          &:hover {
            color: coral;
          }
        }
      }

      form {
        margin-left: 150px;
        position: relative;
        display: flex;

        i {
          position: absolute;
          left: 20px;
          top: 15px;
        }

        input {
          width: 200px;
          height: 44px;
          border-radius: 30px;
          border: 3px solid white;
          background-color: transparent;
          padding: 10px;
          padding-left: 50px;
          font-size: 19px;

          &::placeholder {
            color: rgb(185, 189, 194);
          }
        }

        img {
          margin: 0 5px 0 5px;
          width: 30px;
          height: 40px;
          position: relative;
          left: 40px;
        }

        select {
          border: none;
          appearance: none;
          font-size: 17px;
          width: 130px;
          text-align: center;
          background-color: transparent;
          color: white;
          cursor: pointer;
        }
      }

      .dropdown {
        display: none;
        position: relative;
        transform: scale(1.8);

        .dropdown-menu {
          position: absolute;
          top: 100%;
          right: 0;
          display: none;

          ul {
            align-items: stretch;
            flex-direction: column;
            background-color: #fff;
            padding-bottom: 5px;

            li {
              font-size: 8px;
              padding: 1em 1.5em;
              background-color: rgba(0, 0, 0, 0.1);
              transition: all 0.3s ease-in;
              min-width: 150px;
              margin: 10px;
              &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                text-indent: 0.5rem;
              }
            }
          }
        }
        #drop1:checked + .dropdown-menu {
          display: block;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    width: 355px;
  }

  .header {
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: -2px 9px 15px 5px rgba(34, 60, 80, 0.33);

    main {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      .logo {
        width: 52px;
        height: 47px;
        margin-right: 150px;
        border-radius: 50%;
      }

      .dropdown {
        display: block;
        position: relative;
        transform: scale(1.8);
        margin-left: 15px;

        .dropdown-menu {
          position: absolute;
          top: 100%;
          right: 0;
          display: none;

          ul {
            align-items: stretch;
            flex-direction: column;
            background-color: #fff;
            display: block;
            padding-bottom: 5px;

            li {
              font-size: 8px;
              padding: 1em 1.5em;
              background-color: rgba(0, 0, 0, 0.1);
              transition: all 0.3s ease-in;
              min-width: 150px;
              margin: 10px;
              &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                text-indent: 0.5rem;
              }
            }
          }
        }
        #drop1:checked + .dropdown-menu {
          display: block;
          padding-bottom: 30px;
        }
      }

      ul {
        display: none;
      }

      form {
        margin-left: 0;
        width: 80px;
        position: relative;
        display: block;

        i {
          display: none;
        }

        input {
          display: none;
        }

        img {
          margin: 0 5px 0 5px;
          width: 40px;
          height: 20px;
          position: relative;
          left: 0;
          top: 0;
        }

        select {
          border: none;
          appearance: none;
          font-size: 17px;
          width: 30px;
          text-align: center;
          background-color: #fff;
        }
      }
    }
  }
}
