#vacancy {
  padding-top: 160px;
  padding-bottom: 50px;
  background: linear-gradient(
    180deg,
    #ead4c7 0%,
    rgba(248, 248, 248, 0) 17.71%
  );

  .circle {
    width: 266px;
    height: 118px;
    margin: 0 auto;
    position: relative;

    .filter {
      width: 266px;
      height: 118px;
      position: absolute;
      background-color: rgba(238, 123, 34, 0.21);
      border-radius: 50%;
      background: rgba(238, 123, 34, 0.21);
      filter: blur(98px);
    }

    h1 {
      text-align: center;
      font-family: Inter;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
    }

    .wand {
      width: 40px;
      height: 3px;
      background-color: #ee7b22;
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    img {
      position: absolute;
      top: 30px;
      left: -50px;
    }
  }

  .about {
    width: 100vw;
    height: 450px;
    background-color: #eee;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("/vector.png");
      object-fit: cover;
      background-position: auto;

      img {
        width: 400px;
        height: 350px;
        border-radius: 20px;
        margin-right: 50px;
      }

      .info {
        h2 {
          width: 300px;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
          line-height: 47px;
          letter-spacing: -0.72px;
          font-family: Inter;
          font-style: normal;
          font-weight: 700;
        }
        p {
          width: 400px;
          margin-top: 20px;
          color: rgba(238, 123, 34, 0.55);
          font-family: Inter;
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: end;

    button {
      width: 40px;
      height: 40px;
      background-color: #ee7b22;
      border: none;
      border-radius: 5px;
      margin-right: 10px;
      transform: translateX(100px);

      i {
        font-size: 22px;
      }
    }
  }

  .cards {
    width: 100%;
    display: flex;
    padding: 20px 0;
    padding-left: 30px;
    overflow: hidden;
    background-color: white;

    .card {
      width: 281px;
      border-radius: 30px;
      background-color: #fff;
      box-shadow: 0px 2px 12px -1px rgba(34, 60, 80, 0.33);
      margin-right: 65px;
      padding: 18px;
      transition-duration: 1s;

      img {
        width: 246px;
        height: 158px;
        border-radius: 30px;
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
        margin-bottom: 25px;
      }

      p {
        color: #b3b3b3;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: -0.32px;
      }

      .flex {
        justify-content: space-around;
        div {
          width: 50px;
          margin-top: 10px;

          i {
            margin-left: 16px;
            color: #b3b3b3;
          }

          p {
            color: #b3b3b3;
            font-family: Inter;
            font-size: 10px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px; /* 340% */
            letter-spacing: -0.2px;
            text-align: center;
          }
        }
      }

      ul {
        li {
          color: #b3b3b3;
          font-family: Inter;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: 34px;
          letter-spacing: -0.24px;
        }
      }

      .more {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        color: #fff;
        background-color: #ee7b22;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }

      .sign {
        width: 120px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: green;
        color: #fff;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  .button {
    width: 176px;
    height: 53px;
    border-radius: 30px;
    background-color: #ee7b22;
    border: none;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1920px) {
  .container {
    width: 1260px;
  }

  #vacancy {
    padding-top: 160px;
    padding-bottom: 50px;
    background: linear-gradient(
      180deg,
      #ead4c7 0%,
      rgba(248, 248, 248, 0) 17.71%
    );

    .circle {
      width: 266px;
      height: 118px;
      margin: 0 auto;
      position: relative;

      .filter {
        width: 266px;
        height: 118px;
        position: absolute;
        background-color: rgba(238, 123, 34, 0.21);
        border-radius: 50%;
        background: rgba(238, 123, 34, 0.21);
        filter: blur(98px);
      }

      h1 {
        text-align: center;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
      }

      .wand {
        width: 40px;
        height: 3px;
        background-color: #ee7b22;
        border-radius: 5px;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      img {
        position: absolute;
        top: 30px;
        left: -50px;
      }
    }

    .about {
      width: 100vw;
      height: 450px;
      background-color: #eee;
      margin: 0 auto;
      margin-bottom: 100px;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;

      .box {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("/vector.png");
        object-fit: cover;
        background-position: auto;

        img {
          width: 400px;
          height: 350px;
          border-radius: 20px;
          margin-right: 50px;
        }

        .info {
          h2 {
            width: 300px;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 47px;
            letter-spacing: -0.72px;
            font-family: Inter;
            font-style: normal;
            font-weight: 700;
          }
          p {
            width: 400px;
            margin-top: 20px;
            color: rgba(238, 123, 34, 0.55);
            font-family: Inter;
            font-style: normal;
            font-weight: 700;
          }
        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      justify-content: end;

      button {
        width: 40px;
        height: 40px;
        background-color: #ee7b22;
        border: none;
        border-radius: 5px;
        margin-right: 10px;
        transform: translateX(0);

        i {
          font-size: 22px;
        }
      }
    }

    .cards {
      max-width: 90vw;
      display: flex;
      padding: 20px 0;
      padding-left: 30px;
      overflow: hidden;
      background-color: white;
      margin: 0 auto;

      .card {
        width: 281px;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0px 2px 12px -1px rgba(34, 60, 80, 0.33);
        margin-right: 65px;
        padding: 18px;
        transition-duration: 1s;

        img {
          width: 246px;
          height: 158px;
          border-radius: 30px;
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
          margin-bottom: 25px;
        }

        p {
          color: #b3b3b3;
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 34px;
          letter-spacing: -0.32px;
        }

        .flex {
          justify-content: space-around;
          div {
            width: 50px;
            margin-top: 10px;

            i {
              margin-left: 16px;
              color: #b3b3b3;
            }

            p {
              color: #b3b3b3;
              font-family: Inter;
              font-size: 10px;
              font-style: normal;
              font-weight: 600;
              line-height: 34px; /* 340% */
              letter-spacing: -0.2px;
              text-align: center;
            }
          }
        }

        ul {
          li {
            color: #b3b3b3;
            font-family: Inter;
            font-size: 12px;
            font-style: normal;
            font-weight: 600;
            line-height: 34px;
            letter-spacing: -0.24px;
          }
        }

        .more {
          width: 120px;
          height: 40px;
          border-radius: 10px;
          border: none;
          color: #fff;
          background-color: #ee7b22;
          margin-top: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }

        .sign {
          width: 120px;
          height: 40px;
          border-radius: 10px;
          border: none;
          background-color: green;
          color: #fff;
          margin-top: 10px;
          cursor: pointer;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }

    .button {
      width: 176px;
      height: 53px;
      border-radius: 30px;
      background-color: #ee7b22;
      border: none;
      color: #fff;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      margin: 0 auto;
      margin-top: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
