* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  width: 1260px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

@media (max-width: 1260px) {
  .container {
    max-width: 748px;
  }
}

@media (max-width: 765px) {
  .container {
    max-width: 345px;
  }
}
